@media print
{
    .no-print,
    .no-print *
    {
        display: none !important;
    }
    a[href]:after
    {
        content: none !important;
    }
}
.admintable tr td a
{
    width: 100%;
}
.center
{
    position: relative;

    text-align:         center;
    text-align:    -moz-center;
    text-align: -webkit-center;
}
.butonCat
{
    font-family: Arial;
    font-size: 19px;

    display: inline-block;

    padding: 6px 37px;

    cursor: pointer;
    text-decoration: none;

    color: #fff;
    border: 1px solid #566963;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    background-color: #768d87;
    text-shadow: 0 1px 0 #2b665e;
}
.butonCat:hover
{
    cursor: pointer;
    text-decoration: none;

    color: #fff;
    background-color: #6c7c7c;
    -webkit-box-shadow: 0 0 50px 0 #91b8b3;
       -moz-box-shadow: 0 0 50px 0 #91b8b3;
            box-shadow: 0 0 50px 0 #91b8b3;
}
.butonCat:active
{
    position: relative;
    top: 1px;

    text-decoration: none;
}

.apasatCat
{
    background-color: #3e5c5a;
}

.admm > .btn
{
    width: 215px;
}
.admm
{
    width: 100%;
}
a
{
    color: inherit;
}
.thumbnail.tbmic
{
    width: 40px;
    height: auto;
    margin-bottom: 0;
    padding: 0;
}
.infobox
{
    text-align: center;

    background-color: #ceff99;
}
.thumbnail.tbmare
{
    max-width: 100%;
    max-height: 100%;
    margin-right: auto;
    margin-left: auto;
}
.chatrow.clickableRow
{
    cursor: pointer;
}
.pricedata
{
    text-align: center;
}

.chatrow:nth-child(odd) .pricedata
{
    background-color: #fdcdcd;
}
.chatrow:nth-child(even) .pricedata
{
    background-color: #fdefcd;
}

.logform
{
    width: 100%;
}

.form-group
{
    margin-bottom: 0;
}
.btn
{
    padding: 10px 60px;
}
.inputu
{
    padding-top: 5px;
    padding-bottom: 5px;

    text-align: center;

    background-color: #ceff99;
}

.chatrow:nth-child(odd)
{
    background-color: #ededed;
}

.chatrow:nth-child(odd) .chatdata:nth-child(1)
{
    background-color: #cdcdcd;
}

.chatrow:nth-child(even) .chatdata:nth-child(1)
{
    background-color: #dcdcdc;
}

.chatrow:nth-child(odd) .chatdata:nth-child(2)
{
    background-color: #ddd;
}

.chatrow:nth-child(even) .chatdata:nth-child(2)
{
    background-color: #eee;
}

.boxChat
{
    padding-top: 45px;
}

.nav a
{
    font-size: 11px;
    font-weight: 700;

    padding: 14px 10px;

    text-decoration: none;
    text-transform: uppercase;

    color: #5a5a5a;
}

.footer
{
    display: block;

    width: 100%;
    height: 40px;

    text-align: center;

    background-color: rgba(206, 255, 153, .54);
}

.nav
{
    z-index: 1;

    width: 100%;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.glavnobar
{
    position: fixed;

    height: 23px;

    background-color: #ceff99;
}

.nav li
{
    display: inline;

    margin-top: auto;
    margin-bottom: auto;
}

.nav-tabs
{
    margin-top: 0;
}

.butoanelenav
{
    background-color: rgba(206, 255, 153, .54);
}

.nav > li > a:hover,
.nav > li > a:focus
{
    text-decoration: none;

    background-color: rgba(137, 213, 153, .43);
}

.jumbotron
{
    height: 180px;
    margin-bottom: 0;
    padding: 0;

    background-image: url(http://www.hdwallpaperscool.com/wp-content/uploads/2014/02/hd-trees-in-sunlight-wallpapers-free-download-amazing-high-definition-wallpapers-of-trees.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container
{
    position: relative;
}

.jumbotron h1
{
    font-family: 'Comic Sans MS',sans-serif;
    font-size: 80px;
    font-weight: 700;

    text-align: center;

    color: #000;
    text-shadow: 0 0 20px #fff;
}

.jumbotron p
{
    font-family: 'Comic Sans MS',sans-serif;
    font-size: 30px;

    text-align: center;

    color: #000;
    text-shadow: 0 0 20px #fff;
}

.neighborhood-guides
{
    border-bottom: 1px solid #dbdbdb;
    background-color: #efefef;
}

.neighborhood-guides h2
{
    font-size: 24px;

    color: #393c3d;
}

.neighborhood-guides p
{
    font-size: 15px;

    margin-bottom: 13px;
}
.butonbar
{
    z-index: 1;

    display: inline;

    padding: 15px 5px 7px;
}

.butonbar:hover
{
    background-color: #92ba67;
}

.tab1
{
    clear: both;
}

.logindiv
{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.unselectable
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

.minilogindiv
{
    width: 18%;

    background-color: green;
}


.minilogindiv .form-inline .form-control
{
    width: 100%;
}

.dropdown-menu
{
    background-color: #e3fec7;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus
{
    background-color: #92ba67;
}
